a {
    text-decoration: none;
}

html{
    user-select: none;
}

body{
        font-family: calibri,
        "Times New Roman",
        sans-serif;
        font-size: 18px;
}

nav {
    font-family: calibri, 'Times New Roman', serif;
    cursor: url('images/hover.png'),
    auto;
}

ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
    background: rgb(3, 59, 12);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}



li a {
    color: #fff;
}

li:hover,
li:focus-within {
    background: rgb(8, 112, 25);
}

li:focus-within a {
    outline: none;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

ul li ul li {
    clear: both;
    width: 100%;
}

.theme {
    border-radius: 8px;
    background: black;
    border: 2px solid white;
    color: #fff;
    font-size: 16px;
    cursor: url('images/hover1.png'),
    auto;
}

.theme:active{
    cursor: url('images/hover1.png'),auto;
}

.theme:hover {
    background: rgb(1, 10, 53);
    border: 2px solid rgb(10, 95, 129);
    color: #fff;
    font-size: 16px;
}
@media (prefers-color-scheme: dark) {
    h1 {
        color: yellowgreen;
    }

    body {
        color: white;
        background-color: black;
    }
}

body.dark-theme h1 {
    color: yellowgreen;
}

body.dark-theme {
    color: white;
    background-color: black;
}

body.light-theme h1 {
    color: rgb(5, 73, 8);
}

body.light-theme {
    background-color: white;
    color: black;
}
html,
body {
    height: 100%;
}

body::-webkit-scrollbar {
    width: 1em;

}

body::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #434343, #434343 1px, transparent 0, transparent)
}

body::-webkit-scrollbar-thumb {
    background: #5e5e5e;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25),
        inset -2px -2px 2px rgba(0, 0, 0, .25);
    border-radius: 8px;

}
header {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #a493c0; */
    /* background: local; */
    backdrop-filter: blur(7px);
    padding: 10px;
    min-width:85%;
}
body {
    display: block;
    padding-top: 5em;
    padding-bottom:3em;
}
.logo{
    color: white;
    line-height: 50px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 250px;
    font-size: 100px;
}
img{
    pointer-events: none;
}

.typewrite{
    color: #fff;
}
.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}
body.dark-theme .pulsate {
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #0fa,
            0 0 45px #0fa,
            0 0 55px #0fa,
            0 0 70px #0fa,
            0 0 80px #0fa;

    }
}

body.dark-theme .pulsate {
    animation: pulsate 1.5s infinite alternate;
}

body.light-theme .pulsate {
    animation: pulsate_light 1.5s infinite alternate;
}
@keyframes pulsate_light {

    100% {

        text-shadow:
            0 0 4px rgb(7, 8, 68),
            0 0 11px rgb(7, 8, 68),
            0 0 19px rgb(7, 8, 68),
            0 0 40px rgb(20, 71, 0),
            0 0 80px rgb(20, 71, 0),
            0 0 90px rgb(20, 71, 0),
            0 0 100px rgb(20, 71, 0),
            0 0 150px rgb(20, 71, 0);

    }

    0% {

        text-shadow:
            0 0 2px rgb(7, 8, 68),
            0 0 4px rgb(7, 8, 68),
            0 0 6px rgb(7, 8, 68),
            0 0 10px rgb(20, 71, 0),
            0 0 45px rgb(20, 71, 0),
            0 0 55px rgb(20, 71, 0),
            0 0 70px rgb(20, 71, 0),
            0 0 80px rgb(20, 71, 0);

    }
}

body.light-theme .neonText{
    color: darkgoldenrod;
}

pre {
    font-family: calibri,
        "Times New Roman",
        sans-serif;
    font-size: 18px;
}

.center{
    text-align: center;
}

.scroll {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/spectrum.svg);
    background-repeat: repeat-x;
    background-size: 100vw 0.2em;
    background-position: left bottom 5px;
}

h2{
    --offset: 400px;
}

h2:nth-of-type(2) {
    background-position-x: calc(var(--offset) + var(--scrollPos));
}

html {
    cursor: url('images/cursor1.png'), auto;
}

header{
    cursor: url('images/hover1.png');
}

a{
    cursor: url('images/hover1.png'), auto;
}
a:active{
    cursor: url('images/click1.png'),auto;
}

.normal{
    color: lightblue;
    text-decoration: underline;
}

.normal:active {
    color: rgb(17, 153, 199);
}

body.light-theme .normal {
    color: darkblue;
}

body.light-theme .normal:active {
    color: rgb(6, 6, 56);
}
