body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 0;
}
li, button, label, input, a, p, span, h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
}
body{
    font-family: calibri,
    "Times New Roman",
    sans-serif;
}
.main-head {
    width: 95%;
    margin: 0 0 0 auto;
}
@media screen and (max-width: 1332px){
    html {
        font-size: 53%;
    }}
@media screen and (max-width: 754px){
html {
    font-size: 45%;
}}
@media screen and (max-width: 1332px){
nav {
    width: 100%;
}}
header{
    display: block;}
nav .logo h1 {
    margin: 10px;
}
html {
    font-size: 62.5%;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 10vh;
    width: 60%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 10rem;
    flex: 1 1 10rem;
}
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}
.active {
    background: #229240;
    color: white;
    padding: 15px 20px;
    border-radius: 2rem;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.intro {
    min-height: 90vh;
    width: 90%;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.intro-text, .intro-images {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}
@media screen and (max-width: 1332px){
svg {
    width: 80%;
}}
ul {
    list-style: none;
}
#me {
    -webkit-animation: me 1s ease infinite alternate;
    animation: me 1s ease infinite alternate;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}
#clock-arrow {
    -webkit-animation: clock 1.5s infinite linear;
    animation: clock 1.5s infinite linear;
    transform-box: fill-box;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}
#plant-left {
    -webkit-animation: plant 1.5s ease infinite alternate;
    animation: plant 1.5s ease infinite alternate;
}

#plant-right {
    -webkit-animation: plant 1.5s ease infinite alternate 0.5s;
    animation: plant 1.5s ease infinite alternate 0.5s;
}
footer {
    background: #154353;
    color: white;
    min-height: 10vh;
    padding: 0% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
footer h4 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    font-size: 2rem;
}
footer ul li a{
    font-size: 2rem;
}
footer ul li a:hover{
    color: #237692;
}
footer ul li{
    padding: 1.5rem;
}
footer em{
    font-size:15px;
}
footer ul {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
@-webkit-keyframes me {
    from {
        -webkit-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
    }
    to {
        -webkit-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }
}

@keyframes me {
    from {
        -webkit-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
    }
    to {
        -webkit-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }
}

@-webkit-keyframes plant {
    from {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    to {
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
}

@keyframes plant {
    from {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    to {
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
}

@-webkit-keyframes clock {
    from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes clock {
    from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@media (prefers-color-scheme: dark) {
    h1 {
        color: yellowgreen;
    }

    body {
        color: white;
        background-color: black;
    }
}

body.dark-theme h1 {
    color: yellowgreen;
}

body.dark-theme {
    color: white;
    background-color: black;
}

body.light-theme h1 {
    color: rgb(5, 73, 8);
}

body.light-theme {
    background-color: white;
    color: black;
}
html,
body {
    height: 100%;
}

body::-webkit-scrollbar {
    width: 1em;

}

body::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #434343, #434343 1px, transparent 0, transparent)
}

body::-webkit-scrollbar-thumb {
    background: #5e5e5e;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25),
        inset -2px -2px 2px rgba(0, 0, 0, .25);
    border-radius: 8px;

}


body.light-theme .logo{
    color: black;
}

img{
    pointer-events: none;
}

.typewrite{
    color: #fff;
}
.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}
body.dark-theme .pulsate {
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #0fa,
            0 0 45px #0fa,
            0 0 55px #0fa,
            0 0 70px #0fa,
            0 0 80px #0fa;

    }
}

body.dark-theme .pulsate {
    animation: pulsate 1.5s infinite alternate;
}

body.light-theme .pulsate {
    animation: pulsate_light 1.5s infinite alternate;
}
@keyframes pulsate_light {

    100% {

        text-shadow:
            0 0 4px rgb(7, 8, 68),
            0 0 11px rgb(7, 8, 68),
            0 0 19px rgb(7, 8, 68),
            0 0 40px rgb(20, 71, 0),
            0 0 80px rgb(20, 71, 0),
            0 0 90px rgb(20, 71, 0),
            0 0 100px rgb(20, 71, 0),
            0 0 150px rgb(20, 71, 0);

    }

    0% {

        text-shadow:
            0 0 2px rgb(7, 8, 68),
            0 0 4px rgb(7, 8, 68),
            0 0 6px rgb(7, 8, 68),
            0 0 10px rgb(20, 71, 0),
            0 0 45px rgb(20, 71, 0),
            0 0 55px rgb(20, 71, 0),
            0 0 70px rgb(20, 71, 0),
            0 0 80px rgb(20, 71, 0);

    }
}

body.light-theme .neonText{
    color: darkgoldenrod;
}

body.light-theme {
    cursor: default;
}

pre {
    font-family: calibri,
        "Times New Roman",
        sans-serif;
    font-size: 18px;
}

.center{
    text-align: center;
}

.scroll {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/spectrum.svg);
    background-repeat: repeat-x;
    background-size: 100vw 0.2em;
    background-position: left bottom 5px;
}

h2{
    --offset: 400px;
}

html {
    cursor: url('images/cursor1.png'), auto;
}

a{
    cursor: url('images/hover1.png'), auto;
}


.normal{
    color: lightblue;
    text-decoration: underline;
}

.normal:active {
    color: rgb(17, 153, 199);
}

body.light-theme .normal {
    color: darkblue;
}

body.light-theme .normal:active {
    color: rgb(6, 6, 56);
}


 .scroll{
     width: 450px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/spectrum.svg);
    background-repeat: repeat-x;
    background-size: 100vw 0.2em;
    background-position: left bottom 5px;
    background-position-x: var(--scrollPos);
}
 .head_imp{
    background: #146406;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    width: 100%;
    border-radius: 20px;
    margin: 2rem;
}

body.light-theme .head_imp{
    background: #177d06;
    color: white;
}


@media print {
    html{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .logo{
        display: none;
    }
    .intro-text, .intro-images {
        flex: 1 1 40px;
    }
}

@media screen and (min-width: 768px){
    .logo{
        display: inline;
    }
    .intro-text, .intro-images {
        flex: 1 1 20px;
    }
}

.dayNight {
    cursor: pointer;
}
.dayNight input {
    display: none;
}
.dayNight input + div {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;
    box-shadow: inset 16px -16px 0 0 #fff;
    transform: scale(1) rotate(-2deg);
    transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}
.dayNight input + div:before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
}
.dayNight input + div:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 -23px 0 #5628EE, 0 23px 0 #5628EE, 23px 0 0 #5628EE, -23px 0 0 #5628EE, 15px 15px 0 #5628EE, -15px 15px 0 #5628EE, 15px -15px 0 #5628EE, -15px -15px 0 #5628EE;
    transform: scale(0);
    transition: all 0.3s ease;
}
.dayNight input:checked + div {
    box-shadow: inset 32px -32px 0 0 #fff;
    transform: scale(0.5) rotate(0deg);
    transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}
.dayNight input:checked + div:before {
    background: #5628EE;
    transition: background 0.3s ease 0.1s;
}
.dayNight input:checked + div:after {
    transform: scale(1.5);
    transition: transform 0.5s ease 0.15s;
}

.dayNight{
    position: absolute;
    right: 2px;
    top:100px;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}
h1{
    font-size: 2.5rem;
}
body.light-theme nav ul li a{
    color: black;
}
body.light-theme nav ul li a.active{
    color: white;
}
.burger,
.menu-check {
    display: none;
}
@media screen and (max-width: 842px){

.burger {
    position: absolute;
    right:2px;
    display: block;
    cursor: pointer;
    z-index: 21;
}}
.burger span {
    padding: 0.2rem 2rem;
    background: #e8e8e8;
    margin: 0.5rem 0;
    display: block;
    transition: all 0.5s ease;
}
.nav-links a {
    color: white;
}
@media screen and (max-width: 842px){
.nav-links {
    background: rgba(40, 40, 40,0.6);
    z-index: 20;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
}}

.nav-open {
    transform: translateX(-100%);
}

.toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
}
body.light-theme .toggle .line1 {

    background: black;
}
body.light-theme .toggle .line3 {
    background: black;
}
body.light-theme .nav-links{
    background: rgba(183, 183, 183, 0.6);
}
body.light-theme .burger span {background: #1a1a1a;}

.projects {
    width: 90%;
    margin: auto;
    min-height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.travelly, .elena {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}
