:root{
    --rod1col: #563d7c;
    --rod2col: #00f;
    --ballcol: #ff0000;
}



#ball {
    width: 20px;
    height: 20px;
    background-color: var(--ballcol);
    position: fixed;
    top: 100px;
    left: 52.5%;
    border-radius: 50%;
}

#rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#rod1 {
    background-color: var(--rod1col);
    top: 75px;
}

#rod2 {
    background-color: var(--rod2col);
    bottom: 0;
}
a{
    color: #6cee73;
}

html{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media print {
    html{
        display: none;
    }
}

html{
    font-family: "Calibri", "Times New Roman", serif;
}

kbd{
    background: #eee;
    color: #000;
    font-family: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.arrow{
    font-family: monospace;
}

.padded{
    padding: 5px;
}

body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.modal{
    backdrop-filter: blur(5px);
}

h1{
    color:white;
}

.rod1, .rod2{
    color: white;
    position: fixed;
    font-size: 20px;
    font-weight: bold;
}
.rod1{
    right: 20px;
    top: 75px;
}
.rod2{
    right: 20px;
    bottom: 10px;
}
